@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Josefin+Sans:wght@100;200;400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Righteous&family=Lobster&display=swap');


*
{
    font-family: 'Poppins', sans-serif;
}

body
{
    background: linear-gradient(to bottom, black 0%, rgb(97, 52, 0) 40%, rgb(0, 1, 79) 80%, black 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* chat container style */
.chat-container
{
    width: 50%;
    height: 90%;
    background-color: #393939;
    border: 1px solid #000000;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

/* chat header style */
.chat-header
{
    background-color: #00531a;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* chat message container style */
.chat-messages-container
{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

/* chat message style */
.chat-message
{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: max-content;
}

/* user message style */
.user-message
{
    background-color: #ddd;
    align-self: flex-end;
}

/* bot message style */
.bot-message
{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

/* chat input container style */
.chat-input-container
{
    display: flex;
    align-items: center;
    padding: 10px;
}

/* chat input style */
.chat-input
{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
}

/* chat send button style */
.chat-send-btn
{
    width: 20%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 1px;
}

.chat-send-btn:hover
{
    background-color: black;
    color: white;
}

.chat-messages-container
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-messages-container div
{
    margin: 10px 0;
    opacity: 0;
    animation-duration: 0.8s;
    animation-name: slide;
    animation-fill-mode: forwards;
}

@keyframes slide
{
    from
    {
        opacity: 0;
        transform: translateY(50%);
    }

    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}

